body {
  margin: 50px;
  padding: 0;
}

* {
  font-family: monospace;
  box-sizing: border-box;
}

h1, p {
  text-align: center;
}

#container {
  display: flex;
  justify-content: center;
  align-content: stretch;
  gap: 20px;
  min-height: 500px;
  margin-top: 30px;
}

#form, #data {
  flex: 0 1 50%;
  max-width: 500px;
}

#form {

}

#intro {
  resize: vertical;
  width: 100%;
  height: 5em;
}

label {
  display: block;
}

fieldset, #intro {
  margin-bottom: 10px;
}

#colors {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

.buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#data {
  resize: none;
}
